<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <title>Bible Listener</title>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="index.js" type="module"></script>
    </head>

    <body>
        <div id="app">
            <div class="px-4 py-5 my-5 text-center">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="searchInput">
                    <button class="btn btn-outline-secondary" @click="submitForm">Enter</button>
                </div>

                <verse-audio v-for="verse in verses" :verse="verse"></verse-audio>

                <div v-if="passages">
                    <pre v-for="passage of passages">{{ passage }}</pre>
                </div>
            </div>
        </div>

    </body>

</html>